<!DOCTYPE HTML>
<html>
	<head>
		<title>CHARGE_do</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Intro -->
					<section class="intro">
						<header>
							<h1 id='csNm'></h1> <!-- csNm: 충전소 명칭 -->
							<!-- <p> <del>추후 주소 추가</del> </p> addr: 충전소 주소 -->
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						
					</section>
					

				<!-- Section -->
					<section id="first">
						<header>
							<h2>충전기 리스트</h2> 
						</header>
						<div class="content"> 
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>충전기 타입</th> <!-- chargeTp: 충전기타입(1:완속, 2: 급속) -->
											<th>충전 방식</th> <!-- cpTp: 충전방식(1:B타입(5핀), 2: C타입(5핀), 3:BC타입(5핀),4: BC타입(7핀),5: DC차 데모, 6:AC 3상, 7: DC콤보,8: DC차데모+DC콤보. 9:DC차데모+AC3상, 10: DC차데모+DC콤보, AC3상) -->
											<th>충전기 상태</th> <!-- cpStat: 충전기 상태( 0: 상태확인불가, 1: 충전가능, 2: 충전중, 3:고장/점검, 4:통신장애, 5:통신미연결,9:충전예약) -->
										</tr>
									</thead>
									<tbody id="chargeList">
									</tbody>
									<tfoot></tfoot>
								</table>
							</div>
							
							<p id="cpStat"></p>

							<script>
								const urlParams = new URL(location.href).searchParams;
								const ID = urlParams.get('csId');
								console.log(ID);

								window.onload = function () {

									var text = document.getElementById("cpStat");

									$.getJSON('/charge', function(data) { // DB 데이터 불러오기
										
										// csId: 충전소 ID, csNm: 충전소 명칭, chargeTp: 충전기타입, cpTp: 충전방식, statUpdatetime, cpStat: 충전기 상태

										var count = 0;
										var temp = data.csNm[count];

										while (temp) {
											count++;
											temp = data.csNm[count]
										}

										details(count, data.csId, data.csNm, data.chargeTp, data.cpTp, data.cpStat);

										text.innerHTML = "정보 업데이트 시각: " + `<strong>` + data.statUpdatetime[0] + `</strong>`;

									});
								}

								function details(count, csId, csNm, chargeTp, cpTp, cpStat){
									for (var step=0; step<count; step++) { // 12 대신 배열 길이 넣어야함......
										
										var name = document.getElementById("csNm");
										var listArea = document.getElementById("chargeList");
										var newList = document.createElement('tr');

										if(csId[step] == ID) {

											name.innerHTML = csNm[step];

											newList.innerHTML = `<td>` + nameChargeTp(chargeTp[step]) + `</td><td>` + nameCpTp(cpTp[step]) + `</td><td>` + nameCpStat(cpStat[step]) + `</td>`;
						
											listArea.appendChild(newList);
										}
									}
								}

								function nameChargeTp(chargeTp){ // chargeTp: 충전기타입(1:완속, 2: 급속) 
									if(chargeTp == 1) {
										return "완속"
									}
									return "급속"
								}

								function nameCpTp(cpTp){ // cpTp: 충전방식(1:B타입(5핀), 2: C타입(5핀), 3:BC타입(5핀),4: BC타입(7핀),5: DC차 데모, 6:AC 3상, 7: DC콤보,8: DC차데모+DC콤보. 9:DC차데모+AC3상, 10: DC차데모+DC콤보, AC3상)
									if(cpTp == 1) return "B타입(5핀)"
									else if(cpTp == 2) return "C타입(5핀)" 
									else if(cpTp == 3)  return "BC타입(5핀)"
									else if(cpTp == 4) return "BC타입(7핀)"
									else if(cpTp == 5) return "DC차데모"
									else if(cpTp == 6) return "AC3상"
									else if(cpTp == 7) return "DC콤보"
									else if(cpTp == 8) return "DC차데모+DC콤보"
									else if(cpTp == 9) return "DC차데모+AC3상"
									return "DC차데모+DC콤보, AC3상"
								}

								function nameCpStat(cpStat){ // cpStat: 충전기 상태( 0: 상태확인불가, 1: 충전가능, 2: 충전중, 3:고장/점검, 4:통신장애, 5:통신미연결,9:충전예약)
									if(cpStat == 1) return "충전가능"
									if(cpStat == 2) return "충전중"
									if(cpStat == 3) return "고장/점검"
									if(cpStat == 4) return "통신장애"
									if(cpStat == 5) return "통신미연결"
									if(cpStat == 9) return "충전예약"
									return "상태확인불가"
								}

							</script>
						</div>
					</section>

					<section>  
						<header>
							<h2>충전 요금</h2> 
						</header>
						<!-- <div class="content" id="feeChart"></div> -->
						<div class="content">
							<canvas class="chart" id="lowPressure"></canvas>
							<script>
								const ctl = document.getElementById('lowPressure');
								const lowPressure = new Chart(ctl, {
										type: 'bar',
										data: {
											labels: ['경부하', '중간부하', '최대부하'],
											datasets: [
												{
													label: '여름철',
													data: [84.3, 172.0, 259.2] ,
												},
												{
													label: '봄·가을철',
													data: [85.4, 97.2, 102.1],
												},
												{
													label: '겨울철',
													data: [107.4, 154.9, 217.5],
												},
											],
										},
										options: {
											responsive: true,
											plugins: {
												legend: {
													position: 'top',
												},
												title: {
													display: true,
													text: '저압 충전 요금, 기본 요금 2,390 원/kW'
												}
											},
											animation: {
												duration: 0, 
											},
										},
									});
							</script>
							<canvas class="chart" id="highPressure"></canvas>
							<script>
								const cth = document.getElementById('highPressure');
								const highPressure = new Chart(cth, {
										type: 'bar',
										data: {
											labels: ['경부하', '중간부하', '최대부하'],
											datasets: [
												{
													label: '여름철',
													data: [79.2, 137.4, 190.4],
												},
												{
													label: '봄·가을철',
													data: [80.2, 91.0, 94.9],
												},
												{
													label: '겨울철',
													data: [96.9, 127.7, 165.5],
												},
											],
										},
										options: {
											responsive: true,
											plugins: {
												legend: {
													position: 'top',
												},
												title: {
													display: true,
													text: '고압 충전 요금, 기본 요금 2,390 원/kW'
												}
											},
											animation: {
												duration: 0, 
											},
										},
									});
							</script>
						</div>
						
					</section>

		<!-- Scripts --> <!-- 스크립트 추가할거면 여기에 추가. 괜히 오류 안나게 기존에 있던 6개는 안건들이는게 좋을듯 -->
		<script src="static/assets/js/jquery.min.js"></script> 
		<script src="static/assets/js/jquery.scrolly.min.js"></script>
		<script src="static/assets/js/browser.min.js"></script>
		<script src="static/assets/js/breakpoints.min.js"></script>
		<script src="static/assets/js/util.js"></script>
		<script src="static/assets/js/main.js"></script>
	</body>
</html>