<!DOCTYPE HTML>
<html>
	<head>
		<title>CHARGE_do</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0f018c8371bbd1ffe436e3771d3be2c6"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>CHARGE do</h1> <!-- 제목 -->
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div>
						</div>
					</section>

				<!-- Section -->
					<section id="first">  
						<header>
							<h2>내 위치 확인하기</h2>  
						</header>
						<div class="content">  
							<div id="map" style="width:device-width; height:500px;"></div>
							<script>
								var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
								mapOption = { 
									center: new kakao.maps.LatLng(37.60992959003136, 126.99738378955175), // 지도의 중심좌표
									level: 7 // 지도의 확대 레벨 
								}; 
						
								var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
						
								// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
								if (navigator.geolocation) {
									
									// GeoLocation을 이용해서 접속 위치를 얻어옵니다
									navigator.geolocation.getCurrentPosition(function(position) {
										
										var lat = position.coords.latitude, // 위도
											lon = position.coords.longitude; // 경도
										
										//var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
										 var locPosition = new kakao.maps.LatLng(33.50187503224532,  126.48534794864818); 
										
										// 마커와 인포윈도우를 표시합니다
										displayMarker(locPosition);
									
									});
									
								} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
									
									var locPosition = new kakao.maps.LatLng(37.60992959003136, 126.99738378955175);
									displayMarker(locPosition);
								}
						
								// 지도에 마커와 인포윈도우를 표시하는 함수입니다
								function displayMarker(locPosition) {
						
									// 마커를 생성합니다
									var marker = new kakao.maps.Marker({  
										map: map, 
										position: locPosition
									}); 
									
									// 지도 중심좌표를 접속위치로 변경합니다
									map.setCenter(locPosition);      
								}    

								function getChargeData(){
									$.getJSON('/charge', function(data) { // DB 데이터 불러오기 , csId: 충전소 ID
										var count = 0;
										var temp = data.csNm[count];

										while (temp) {
											count++;
											temp = data.csNm[count];
										}

										marLoc(count, data.csNm, data.lat, data.longi);
									});
								}

								function marLoc(count, csNm, lat, longi){

									for (var step=0; step<count; step++){ 

									var locPosition = new kakao.maps.LatLng(lat[step], longi[step]);
									var imageSrc = 'static/pngwing.com-3.png', // 마커이미지의 주소입니다    
										imageSize = new kakao.maps.Size(32, 35), // 마커이미지의 크기입니다
										imageOption = {offset: new kakao.maps.Point(27, 69)};
									
									var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
										markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); 
									
									var marker = new kakao.maps.Marker({  
										map: map,
										position: locPosition, 
										image: markerImage,
										clickable: true
									}); 

									//var iw_content='<div style="width: 250px; padding:5px;">' + csNm[step] + '</div>' ;
									var iw_content='<div style="width: 250px; padding:5px;">' + csNm[step] + '<a href="https://map.kakao.com/link/to/' + csNm[step] + ',' + lat[step] + ',' + longi[step] + '" style="color:blue" target="_blank">길찾기</a></div>' ;
									
									//var iw_content='<div style="width: 200px; padding:5px;">' + csNm[step] + '</div>' ;
									//var iw_content='<div class="markerInfo" style="padding:5px;">'+'<br><small>'+csNm[step] +'</small></div>';
									
									var infowindow = new kakao.maps.InfoWindow({
										content: iw_content, // 인포윈도우에 표시할 내용
										removable : true
										});
										
									
									kakao.maps.event.addListener(marker, 'click', mouse_info(map, marker,infowindow));
									
									}

									function mouse_info(map, marker,infowindow) { //클릭하면 인포윈도우 띄움
										return function() {
											infowindow.open(map, marker);
										};
									}
									
								}

								getChargeData();
						
							</script> 
						</div>
					</section>

				<!-- Section -->
					<section>  
						<header>
							<h2>내 주변 충전소</h2>  
						</header>
						<div class="content">
							<p>충전소를 누르면 <strong>상세정보 페이지</strong>로 이동합니다.</p>

							<ul class="feature-icons" id="chargeList">
							</ul>

							<script>
								window.onload = function () { // 페이지 onload시 바로 실행
									$.getJSON('/charge', function(data) { // DB 데이터 불러오기 
										var count = 0;
										var temp = data.csNm[count];

										while (temp) {					// count: 총 충전기 대수
											count++;
											temp = data.csNm[count];
										}

										list(count, data.csNm, data.csId);
									});
								}

								function list(count, csNm, csId){
									var existing = "";
									for (var step=0; step<count; step++) {  

										if (existing != csNm[step]) {
											
											existing = csNm[step];

											var listArea = document.getElementById("chargeList");
											var newList = document.createElement('li');
											newList.setAttribute("class","icon solid fa-bolt");

											var id = csId[step];

											console.log(id);

											newList.innerHTML = `<a href='${makeURL(id)}'>` + csNm[step] + `</a>` ;
											listArea.appendChild(newList);
										}
										else {
											existing = csNm[step];
										}
									}
								}

								function makeURL(csId){
									return "/details?csId="+csId;
								}
							</script>
						</div>
					</section>

				<!-- Section -->
					<section>  
						<header>
							<h2>충전 요금</h2> 
						</header>
						<!-- <div class="content" id="feeChart"></div> -->
						<div class="content">
							<canvas class="chart" id="lowPressure"></canvas>
							<script>
								const ctl = document.getElementById('lowPressure');
								const lowPressure = new Chart(ctl, {
										type: 'bar',
										data: {
											labels: ['경부하', '중간부하', '최대부하'],
											datasets: [
												{
													label: '여름철',
													data: [84.3, 172.0, 259.2] ,
												},
												{
													label: '봄·가을철',
													data: [85.4, 97.2, 102.1],
												},
												{
													label: '겨울철',
													data: [107.4, 154.9, 217.5],
												},
											],
										},
										options: {
											responsive: true,
											plugins: {
												legend: {
													position: 'top',
												},
												title: {
													display: true,
													text: '저압 충전 요금, 기본 요금 2,390 원/kW'
												}
											},
											animation: {
												duration: 0, 
											},
										},
									});
							</script>
							<canvas class="chart" id="highPressure"></canvas>
							<script>
								const cth = document.getElementById('highPressure');
								const highPressure = new Chart(cth, {
										type: 'bar',
										data: {
											labels: ['경부하', '중간부하', '최대부하'],
											datasets: [
												{
													label: '여름철',
													data: [79.2, 137.4, 190.4],
												},
												{
													label: '봄·가을철',
													data: [80.2, 91.0, 94.9],
												},
												{
													label: '겨울철',
													data: [96.9, 127.7, 165.5],
												},
											],
										},
										options: {
											responsive: true,
											plugins: {
												legend: {
													position: 'top',
												},
												title: {
													display: true,
													text: '고압 충전 요금, 기본 요금 2,390 원/kW'
												}
											},
											animation: {
												duration: 0, 
											},
										},
									});
							</script>
						</div>
						
					</section>

				<!-- Section -->
					<section>  
						<header>
							<h2>제작자</h2> 
						</header>
						<div class="content">
							<table>
								<thead>
									<tr>
										<th>    </th>
										<th>Name</th>
										<th>mail</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span><img src="static/face.PNG" alt="face" style="width:100px; height:100px;  display:block; margin:auto;"/></span></td>
										<td style="vertical-align:middle">강이슬</td>
										<td style="vertical-align:middle">is@kookmin.ac.kr</td>
									</tr>
									<tr>
										<td><span><img src="static/face.PNG" alt="face" style="width:100px; height:100px;  display:block; margin:auto;"/></span></td>
										<td style="vertical-align:middle">백지원</td>
										<td style="vertical-align:middle">jw@kookmin.ac.kr</td>
									</tr>
									<tr>
										<td><span><img src="static/face.PNG" alt="face" style="width:100px; height:100px;  display:block; margin:auto;"/></span></td>
										<td style="vertical-align:middle"> 이현수</td>
										<td style="vertical-align:middle">hs@kookmin.ac.kr</td>
									</tr>
								</tbody>
								<tfoot>
								</tfoot>
							</table>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">CHARGEdo@kookmin.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<a href="#">(02) 123-4567</a>
								</li>
								<li>
									<h3>주소</h3>
									<span>서울특별시 성북구 정릉로 77</span>
								</li>
								<li>
									<h3>Elsewhere</h3>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon brands fa-codepen"><span class="label">Codepen</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
				<!-- <div class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</div> -->

			</div>

		<!-- Scripts --> <!-- 스크립트 추가할거면 여기에 추가. 괜히 오류 안나게 기존에 있던 6개는 안건들이는게 좋을듯 -->
			<script src="static/assets/js/jquery.min.js"></script> 
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>