<!DOCTYPE html>
<html lang="ko">

	<head>
		<meta charset="UTF-8">
		<title>Location HTML</title>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0f018c8371bbd1ffe436e3771d3be2c6"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>

	<body>
		<h1>geolocation에서의 오류 처리</h1>

		<button onclick="findLocation()">현재 위치의 위도와 경도</button>
		<p id="myLocation"></p>

		<div id="map" style="width:100vw; height:500px;"></div>
		<div id="clickLatlng"></div>

		<button onclick="getChargeData()">충전소 목록</button>
		<div id = "chargeList"></div>

		<script>
			var loc = document.getElementById("myLocation");

			var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
			var options = { //지도를 생성할 때 필요한 기본 옵션
				center: new kakao.maps.LatLng(37.60992959003136, 126.99738378955175), //지도의 중심좌표. 국민대학교로 설정해둠
				level: 3 //지도의 레벨(확대, 축소 정도)
				// disableClickZoom: true // 클러스터 마커를 클릭했을 때 지도가 확대되지 않도록 설정한다
			};

			var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

			function findLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showYourLocation, showErrorMsg);
				} else { 
					loc.innerHTML = "이 문장은 사용자의 웹 브라우저가 Geolocation API를 지원하지 않을 때 나타납니다!";
				}
			}

			var myLatitude = 37.60992959003136; // 초기값 국민대 위도
			var myLongitude = 126.99738378955175; // 초기값 국민대 경도

			function showYourLocation(position) {
				loc.innerHTML = "현재 사용자는 위도 " + position.coords.latitude + ", 경도 " + position.coords.longitude + "에 위치하고 있습니다." ;	
				
				var currentPos = new kakao.maps.LatLng(position.coords.latitude,position.coords.longitude);

				// 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
				map.panTo(currentPos);

				// 마커 생성
				var marker = new kakao.maps.Marker({
					position: currentPos
				});

				// 기존에 마커가 있다면 제거
				marker.setMap(null);
				marker.setMap(map);

				myLatitude = position.coords.latitude;
				myLongitude = position.coords.longitude;
				console.log(myLatitude, myLongitude);
			}

			function showErrorMsg(error) {
				switch(error.code) {
					case error.PERMISSION_DENIED:
					loc.innerHTML = "이 문장은 사용자가 Geolocation API의 사용 요청을 거부했을 때 나타납니다!"
					break;
					case error.POSITION_UNAVAILABLE:
					loc.innerHTML = "이 문장은 가져온 위치 정보를 사용할 수 없을 때 나타납니다!"
					break;
					case error.TIMEOUT:
					loc.innerHTML = "이 문장은 위치 정보를 가져오기 위한 요청이 허용 시간을 초과했을 때 나타납니다!"
					break;
					case error.UNKNOWN_ERROR:
					loc.innerHTML = "이 문장은 알 수 없는 오류가 발생했을 때 나타납니다! 관리자에게 문의주세요."
					break;
				}
			}

			var listLat = []; // DB 위도 리스트
			var listLongi = []; // DB 경도 리스트

			function getChargeData() {
				$.getJSON('/charge', function(data) { // DB 데이터 불러오기
					listLat = data.lat;
					listLongi = data.longi;


					console.log(data.lat);
					console.log(data.longi);

					console.log("getJSON안 lat 리스트: ",listLat);
					console.log("getJSON안 longi 리스트: ",listLongi);
					
					distance(listLat, listLongi);
				});
			}

			function distance(lat, longi){
				var distance = 0;
				
				for (var step=0; step<12; step++) { // 2 대신 배열 길이 넣어야함......

					var listArea = document.getElementById("chargeList");
					var newList = document.createElement('p');

					function deg2rad(deg) {
						return deg * (Math.PI/180)
					}

					var R = 6371; // Radius of the earth in km

					var lat1 = myLatitude;
					var lat2 = lat[step];
					var lng1 = myLongitude;
					var lng2 = longi[step];

					var dLat = deg2rad(lat2-lat1);  // deg2rad below
					var dLon = deg2rad(lng2-lng1);
					var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * Math.sin(dLon/2) * Math.sin(dLon/2);
					var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
					var d = R * c; // Distance in km

					distance = Math.sqrt( Math.pow(Math.abs(lat[step] - myLatitude), 2) + Math.pow(Math.abs(longi[step] - myLongitude), 2) );
					newList.innerHTML = "현재 사용자 위치와 충전소의 직선 거리는 " + d + "km 입니다.";
  
					listArea.appendChild(newList);

					console.log(d);
				}
			} 
		</script> 
	</body>
</html>